.Todo-form {
	margin: 10px auto;
}

.Todo-task {
	margin: 10px auto;
}

.Todo-completed {
	text-decoration: line-through;
}

.Todo-hidden {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 1s, opacity 1s linear;
}
